name: Scrape latest data

on:
  push:
  workflow_dispatch:
  schedule:
    - cron: '39 5 * * *'  # 05:39 UTC every day

jobs:
  scheduled:
    runs-on: ubuntu-latest

    permissions:
      # Give the default GITHUB_TOKEN write permission to commit and push the
      # added or changed files to the repository.
      contents: write

    steps:
    - uses: actions/checkout@v4

    - name: Install the latest version of uv
      uses: astral-sh/setup-uv@v7

    - name: Install dependencies
      run: |
        uv sync

    - name: install chromium
      run: |
        playwright install chromium

    - name: debug curl
      run: |
        curl -v https://www.cycleto.ca/events
    - name: Fetch latest data
      run: |
        scrapy crawl events

    - name: Commit and push if it changed
      uses: stefanzweifel/git-auto-commit-action@v5
      with:
        branch: main
        file_pattern: '*.ical *.ics'
        commit_user_name: GitHub Actions # defaults to "GitHub Actions"
        commit_user_email: actions@github.com # defaults to "actions@github.com"
        commit_author: GitHub Actions <actions@github.com> # defaults to author of the commit that triggered the run
